.master-view-container {
    align-items: stretch;
    height: 100%;
}
.view-container {
    position: relative;
    flex-grow: 1;
}
.navbar {
    height: max-content;
    min-width: min-content;
}
.button {
    margin: 0 8px 0 0;
    height: max-content;
    min-width: min-content;
}
.button::part(base) {
    color: hsla(var(--igc-gray-900));
}
.column-layout {
    display: flex;
    flex-direction: column;
}
