.footer {
    align-items: center;
    min-width: 70px;
    min-height: 70px;
    justify-content: center;
    flex-shrink: 0;
    background-color: transparent;
    border-color: hsla(var(--igc-gray-200));
    border-width: 2px 0px 0px;
    border-style: solid;
}
.master-view-container {
    height: 100%;
    align-items: stretch;
}
.text {
    height: max-content;
    min-width: min-content;
}
.view-container {
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    flex-basis: 0;
}
.group {
    position: relative;
    min-width: 50px;
    min-height: 50px;
    align-items: stretch;
}
.group_1 {
    flex-grow: 1;
    flex-basis: 0;
}
.navbar {
    height: max-content;
    min-width: min-content;
}
.nav-drawer {
    flex-shrink: 0;
    width: 320px;
    min-width: min-content;
    min-height: 0;
}
.nav-drawer-item {
    min-width: 0;
    min-height: 0;
}
.icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.row-layout {
    display: flex;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
