@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="master-view-container column-layout">
    <IgbNavbar class="navbar" master-view-scope>
        <div slot="end">
            <IgbButton Variant="ButtonVariant.Flat">
                <span class="material-icons">
                    search
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat">
                <span class="material-icons">
                    favorite
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat">
                <span class="material-icons">
                    more_vert
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div>App Title</div>
    </IgbNavbar>
    <div class="group_1 row-layout">
        <div class="group column-layout">
            <p class="typography__subtitle-2 text">
                FIXED PANE
            </p>
            <a @onclick="@(e => Navigate("/"))" class="typography__body-1 hyperlink">
                View 1
            </a>
            <a @onclick="@(e => Navigate("/view-2"))" class="typography__body-1 hyperlink">
                View 2
            </a>
            <a @onclick="@(e => Navigate("/view-3"))" class="typography__body-1 hyperlink">
                View 3
            </a>
        </div>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
