@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="master-view-container column-layout">
    <IgbNavbar class="navbar" master-view-scope>
        <div>
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Navigate("/"))" class="button" master-view-scope>
                View 1
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Navigate("/view-2"))" class="button" master-view-scope>
                View 2
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Navigate("/view-3"))" class="button" master-view-scope>
                View 3
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </IgbNavbar>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
